.countries {
  display: flex;
}

.country--ethiopia {
  align-self: flex-end;
}

.countries--second {
  align-items: center;
}

.countries--third {
  align-items: flex-end;
}

.countries--third .country--brazil,
.countries--third .country--uganda {
  align-self: flex-start;
}

.countries--fourth {
  flex-direction: column;
  align-items: flex-start;
}

.countries--fourth .country--ethiopia {
  align-self: flex-start;
}

.countries--fourth .country--uganda {
  align-self: center;
}

/* Add your own CSS code below */
