.countries {
  display: flex;
}

/* Add your own CSS code below */
.countries--first :nth-child(3) {
  align-self: flex-end;
}

.countries--second {
  align-items: center;
}
.countries--second :nth-child(3) {
  align-self: flex-end;
}

.countries--third {
  align-items: flex-end;
}
.countries--third :nth-child(1) {
  align-self: flex-start;
}
.countries--third :nth-child(5) {
  align-self: flex-start;
}

.countries--fourth {
  flex-direction: column;
  align-items: flex-start;
}
.countries--fourth :nth-child(5) {
  align-self: center;
}
