/* Try different box model properties below */
.pages__page {
  display: inline-block;
  padding: 0.25em 0.5em;
  border: 1px solid #4491db;
  border-radius: 4px;
  margin: 0.5em;
  background: white;
}
.countries {
  border: 1px solid white;
  padding: 0.25em 0.5em;
  border-radius: 3px;
  margin: 0.25em;
  background: white;
}
