/* Try different box model properties below */
.pages__page {
  border: 1px solid #4491db;
  border-radius: 4px;
  background: #fff;
}

.country {
  border: 1px solid grey;
  border-radius: 5px;
  background: #fff;
  padding: 20px;
}
