/* Try different box model properties below */
.pages__page {
  border: 1px solid #4491db;
  border-radius: 4px;
  background: #fff;
}
ul {
  width: auto;
  height: 0%;
  margin: 15px;
  border: 0;
  padding: 50px;
}
