/* Try different box model properties below */
.pages__page {
  border: 1px solid #4491db;
  border-radius: 4px;
  background: #fff;
}
.country {
  margin: 1%;
  padding: 1%;
}
* {
  border: 1px solid red;
}
