/* Try different box model properties below */
.pages__page {
  border: 1px solid #4491db;
  border-radius: 4px;
  background: #fff;
}
.country {
  padding: 10px;
  border: 3px solid #d6d8e1;
  list-style-type: none;

}

.countries {
  background: #fff;
  width: 30%;

  
}