/* Try different box model properties below */
.pages__page {
  display: inline-block;
  padding: 0.25em 0.5em;
  border: 1px solid #4491db;
  border-radius: 4px;
  margin: 0.5em;
  background: #fff;
}
.country {
  padding: 0.8em 0.8em 0.8em 2em;
  margin: 0.2em;
  height: 30px;
}
