.countries {
  display: flex;
}
/* Add your own CSS code below */
.countries--first {
  flex-direction: row;
  align-items: center;
  font-size: 14px;
}
.countries--second {
  flex-direction: row;
  align-items: flex-end;
  font-size: 14px;
}
.countries--third {
  flex-direction: column;

  align-items: flex-end;
}
.countries--fourth {
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
