/* Try different box model properties below */
.wontext {
  color: white;
  margin-bottom: 1em;
  margin-top: 0.25em;
}
.site-footer p {
  font-size: 12px;
  text-align: center;
}
.won {
  box-shadow: 4px 4px 0 #dba944;
}
