/* Try different box model properties below */
.site-wrapper {
  margin-bottom: 20px;
}
.site-header {
  color: yellow;
}

.site-footer {
  font-size: 12px;
  text-align: center;
}

.message:last-child {
  box-shadow: 4px 4px 0 #dba944;
}
