/* Add your own CSS code below */

.countries {
  columns: 2;
}

@media Screen and (min-width: 768px) {
  .countries {
    columns: 2;
  }
}

@media Screen and (min-width: 1200px) {
  .countries {
    columns: 3;
  }
}
