/* Add your CSS code below */
.link--map {
    color:red ;
    font-weight: bold;
    text-decoration-line: none;
}
.link--gif {
    color: red ;
    font-weight: bold;
    text-decoration-line: none;
}
 
.message__time {
    font-size: 0.9rem;
}

.message--unread {
    border-left: 5px solid blue;
}

.message--old {
    opacity:0.5 ;
}

body {
    line-height: 1.6;
}