/* Add your CSS code below */
a {
  color: red;
  font-weight: bold;
  text-decoration: none;
}

.message__time {
  font-size: 0.9rem;
}

.message.message--unread {
  border-left: 5px solid blue;
}
.message.message--old {
  opacity: 40%;
}
.message {
  line-height: 1.9em;
}
