/* Add your CSS code below */
a {
  color: red;
  font-weight: bold;
  text-decoration: none;
}

.message__time {
  font-size: 0.9rem;
}
.message--unread > .message__content {
  border-left-style: solid;
  border-color: blue;
}
.message--old {
  opacity: 0.5;
}
.message__content {
  line-height: 3;
}
