/* Add your CSS code below */
a:link{
  color: red;
  font-weight: bold;
  text-decoration-line: none;
}

a:visited {
    color: red;
}

.message__content{
font-size: 0,9rem
}
</style> 

.message--unread {
border-left-color: 5px solid blue;
}

.message{
    display: block;
    opacity: 0.5;
    text-decoration-color: darkslategrey;
}

.message__content{
    font-size: 16px;
    line-height: 1.8em;
}