.site-wrapper {
    margin-right: 0;
    margin-left: 0;
    width: 550px;
}

.solution {
	max-width: 561px;
}

.countries {
    height: 310px;
    border: black solid;
}

.countries--tall {
    min-height: 0px;
}