/* Write your media queries and flexbox CSS below */

@media only screen and (min-width: 480px) {
  .site-header__nav {
    display: flex;
  }
}

@media (min-width: 700px) {
  .site-header {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
}

@media (min-width: 992px) {
  .site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
