/* Add your own CSS code below */
.red {
  color: #c85308;
}
@media only screen and (min-width: 992px) {
  .hero__title {
    font-size: 50px;
  }
}

.main-nav__list {
  display: flex;
  justify-content: space-around;
}

@media only screen and (min-width: 767px) {
  .site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
