/* Add your own CSS code below */
.countries {
  display: flex;
}

.countries--first {
  display: flex;
  flex-direction: row-reverse;
}
.countries--second {
  display: flex;
  flex-direction: column;
}

.countries--third {
  display: flex;
  flex-direction: column-reverse;
}
