body {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.site-wrapper {
    margin-right: 0;
    margin-left: 0;
    width: 550px;
}

.solution {
	max-width: 561px;
}

.countries {
    border: black solid;
}