.countries {
  display: flex;
}

/* Add your own CSS code below */

.countries--first :nth-child(1) {
  order: 1;
}

.countries--second :nth-child(1) {
  order: 1;
}
.countries--second :nth-child(5) {
  order: 2;
}

.countries--third :nth-child(1) {
  order: 4;
}
.countries--third :nth-child(2) {
  order: 3;
}
.countries--third :nth-child(3) {
  order: 2;
}
.countries--third :nth-child(4) {
  order: 1;
}
.countries--third :nth-child(5) {
  order: 0;
}

/* OR .countries--third {flex direction: row-reverse; } */
