.countries {
  display: flex;
  justify-content: flex-start;
  margin: auto;
}

.countries--first .country--uganda {
  order: 3;
}
.countries--first .country--brazil {
  order: 4;
}
.countries--first .country--laos {
  order: 0;
}
.countries--first .country--croatia {
  order: 0;
}
.countries--first .country--ethiopia {
  order: 0;
}
.countries--second .country--brazil {
  order: 3;
}
.countries--second .country--uganda {
  order: 4;
}

.countries--third {
  flex-direction: row-reverse;
}

/* Add your own CSS code below */
