.countries {
  display: flex;
  font-size: small;
}

.countries--second .country {
  padding: 0.5em;
  margin: 0.5em;
  line-height: 1;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
}
/* Add your own CSS code below */

.countries--first {
  padding: 1rem;
  text-anchor: middle;
  align-content: flex-end;
  justify-content: flex-end;
  margin: 0.5em;
}

.countries--tall {
  flex-direction: column;
}
.countries--third {
  justify-content: end;
}

.countries--fourth {
  flex-direction: column-reverse;
  justify-content: space-around;
}
